table {
    font-size: 1rem;
}

td {
    padding: 10px 2rem;
    border: 1px solid rgb(190, 190, 190);
    text-align: center;
}

.body {
    display: flex;
}

.nav {
    border: 1px solid;
    height: auto;
    width: 200px;
}

.btn {
    margin-bottom: 30px;
}

.btn > button {
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.btn > button:hover {
    background-color: rgb(228, 41, 41);
}