@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
    height: 100%;
}

/* header */

header {
    display: flex;
    margin-top: 20px;
    height: 50px;
    align-items: center;
    margin-bottom: 70px;
}

.mon-materiel {
    margin-right: 50px;
}

.home {
    margin-right: 20px;
}

.navMenu a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 160px;
}

.navMenu a:hover {
    color: #33396c;
}

.nav-right {
    width: 35%;
}

.nav-left {
    width: 50%;
}

.img-logo {
    margin-top: 5px;
    margin-left: 20px;
}

.img-logo>#logo {
    padding-top: 15px;
}

.bp {
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #33396c;
    color: #33396c;
    background: 0 0;
    padding: 8px;
    font-weight: 700;
    font-size: 16px;
}

.bp:hover {
    background-color: #33396c;
    color: #fff;
}

.bp-general {
    width: 23%;
    display: flex;
}

.bp-general form {
    width: 130px;
}

.bp-general form:hover {
    color: #33396c;
}

.main {
    display: flex;
    justify-content: center;
}

.form-inscr-conn {
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
}

.form-inscr-conn>h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
}

.form-inscr-conn>form {
    display: flex;
    flex-direction: column;
}

.form-inscr-conn>form>input,
.form-inscr-conn>form>button {
    margin: 20px 0 20px;
    outline: none;
}

.form-inscr-conn>form>button {
    margin-top: 30px;
    height: 40px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2em;
}

.form-inscr-conn>form>input {
    width: 26vw;
    height: 4vh;
    border: none;
    border-bottom: 2px solid #33396c;
}

#number_product {
    height: 30px;
    width: 150px;
}

#btn_product {
    margin-left: 10px;
    height: auto;
    width: auto;
    border-radius: 5px;
    font-size: large;
}

.error {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    color: red;
}

h1 {
    font-size: large;
}

.users {
    padding: 30px 50px;
    display: flex;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 1.5rem;
}

td {
    padding: 8px 1rem;
    border: 1px solid rgb(190, 190, 190);
    text-align: center;
}

.users h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.users a {
    text-decoration: none;
    font-size: 1.5rem;
}

.users a:hover {
    color: red;
}

.products {
    height: auto;
    width: auto;
    display: flex;
}

.products h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.products a {
    text-decoration: none;
    font-size: 1.5rem;
}

.products a:hover {
    color: red;
}

.btn-action {
    display: flex;
    margin: 0 2%;
    text-align: center;
}

#btn-delete {
    margin-right: 50px;
    height: 50px;
    width: 120px;
    border-radius: 5px;
    font-size: large;
}

#btn-edit {
    height: 50px;
    width: 120px;
    border-radius: 5px;
    font-size: large;
}

.admin-acceuil {
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}

.admin-acceuil>h1 {
    margin-bottom: 20px;
}

.btn-products {
    margin-left: 20px;
}

/* page admin utilisateurs */

.body {
    display: flex;
    height: auto;
    width: auto;
}

.nav {
    height: auto;
    width: 200px;
}

.btn {
    margin: 10px;
}

.btn>form>.bp {
    height: 170px;
}

.btn>form>button {
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.btn>button:hover {
    background-color: rgb(228, 41, 41);
}

.tableau {
    display: flex;
    justify-content: center;
    height: 82vh;
    overflow-y: auto;
    overflow-x: scroll;
}

.tableauValeur {
    font-family: "Montserrat", sans-serif;
}

.tableauValeur tr:nth-child(even) {
    background: #ADAFC4;
}

.create-all {
    font-size: 1.6em;
    font-family: "Montserrat", sans-serif;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success {
    color: green;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 1.0em;
}